/*Weekle schedule*/
/* .weekly-table {
  background-color: #fff;
  margin-top: 3rem;
  border-radius: 20px;
  width: 100%;
  float: right;
} */
/* 
.weekly-table > h3 {
  color: #fff;
  background-color: #082567;
  padding: 1rem 3rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin: 0;
  font-size: 1rem;
} */

/* .weekly-table table {
  width: 100%;
} */





.weekly-table td,
.weekly-table th {
  /* border: 1px solid #a098ae; */
  /* width: 100%; */
  height: 68px;
  /* padding: 0.5rem; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}




